<div class="flexbox-parent">
  <div class="flexbox-item header">
    <mat-toolbar color="primary" role="header" class="app-navbar">
      <div>
        <span>{{ title }}</span>
      </div>
    </mat-toolbar>
  </div>

  <div class="flexbox-item fill-area content flexbox-item-grow">
    <div class="app-container">
      <h1>Lazy Elements</h1>

      <p>Click the "lazy load" button to lazily load the components.</p>

      <button
        data-cy="lazy-load-button"
        mat-raised-button
        (click)="isLoaded = !isLoaded"
      >
        lazy load
      </button>

      <hr />

      <div *ngIf="isLoaded" ngx-lazy-el (loaded)="onLoaded($event)">
        <app-user-list name="Juri" (save)="onSave($event)"></app-user-list>
      </div>

      <div *ngIf="message" data-cy="lazy-component-message">
        <p>Message emitted from the component:</p>
        <pre>{{ message | json }}</pre>
      </div>
    </div>

    <hr />

    <button
      data-cy="lazy-load-programmatically-button"
      mat-raised-button
      (click)="loadProgrammatically()"
    >
      load programmatically
    </button>

    <div id="manualLoading"></div>
  </div>
</div>
